@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-left-width: 18.75rem;
    --sidebar-right-width: 25%;
    --sidebar-right-max-width: 18.75rem;
    --header-height: 3.5rem;
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    --color-accient: 21 124 219;
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1028px;
    --screen-2xl: 1536px;
  }
}

@layer components {
  .link-omit {
    & {
      @apply text-current outline-none no-underline;
    }

    &:where(:visited),
    &:where(:hover),
    &:where(:active) {
      @apply text-current outline-none no-underline;
    }
  }
}
