---
import { SITE_TITLE } from '../consts';
---

<h2 class='flex items-center text-xl link-omit'>
  <a href='/'>
    <img
      src='/favicon.svg'
      alt=''
      class='w-[1.8em] h-[1.8em] inline-block mr-1'
    />
    <span class='align-middle italic'>
      {SITE_TITLE}
    </span>
  </a>
</h2>

<style>
  h2 {
    margin: 0;
    margin-right: 2em;
  }
</style>
