---
import IconCross from './icon/IconCross.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & { active?: boolean };

const { active, class: classname, href, ...props } = Astro.props;
---

<a class:list={['max-w-[25%]', classname]} href=`${href}` {...props}>
  <li
    class:list={[
      'flex flex-nowrap items-center tag overflow-hidden',
      active && 'active',
    ]}
  >
    {
      active && (
        <IconCross class='inline flex-none left-0 top-0 size-3.5 align-middle mr-0.5' />
      )
    }

    <span class='flex-auto whitespace-nowrap overflow-hidden text-ellipsis'>
      <slot />
    </span>
  </li>
</a>

<style>
  .tag {
    @apply text-neutral-700 transition-colors hover:text-black min-w-16 px-2 py-1 rounded text-base hover:bg-slate-300 text-center mr-1.5 relative;
  }

  .active {
    /* @apply text-white bg-gray-900 hover:bg-gray-900; */
    @apply text-black bg-slate-300 font-bold;
  }
</style>
