---
/**
 * 带有导航的页面布局
 */

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

type Props = {
  title: string;
  description: string;
  hideLSidebar?: boolean;
  hideRSidebar?: boolean;
};

const { title, description, hideLSidebar, hideRSidebar } = Astro.props;
---

<html lang='zh-cn'>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        display: flex;
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      main > article:only-child {
        justify-self: center;
      }

      .hero-image {
        width: 100%;
      }

      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }

      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }

      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }

      .title h1 {
        margin: 0 0 0.5em 0;
      }

      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }

      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body class='bg-white text-black'>
    <Header class='sticky top-0 w-full z-10 header' />
    <div class='flex w-screen max-w-screen-xl mx-auto content overflow-hidden'>
      {
        !hideLSidebar && (
          <div class='flex-none sticky sidebar-left h-[100vh]'>
            <slot name='sidebar' />
          </div>
        )
      }
      <div class='flex-grow-0 flex-shrink basis-auto min-w-0'>
        <slot />
      </div>
      {
        !hideRSidebar && (
          <div class='flex-grow-0 flex-shrink-0 basis-auto sticky sidebar-right self-start hidden lg:inline-flex'>
            <slot name='category' />
          </div>
        )
      }
    </div>
    <Footer />
  </body>
</html>

<style>
  .header {
    height: var(--header-height, 3.5rem);
  }

  .content {
    /* padding-top: var(--header-height, 3.5rem); */
  }

  .sidebar-left {
    width: var(--sidebar-left-width, 18.75rem);
    top: var(--header-height, 3.5rem);
    min-height: 1px;
  }

  .sidebar-right {
    max-width: var(--sidebar-right-max-width, 18.75rem);
    width: var(--sidebar-right-width, 20rem);
    top: var(--header-height, 3.5rem);
    min-height: 1px;
  }
</style>
